.hero{
    height:calc(100vh - 100px);
    background:linear-gradient(180deg, #0c0c1d, #212152);
    position:relative;
    overflow:hidden;
  
}
.imageContainer img{
    position:absolute;
    height:100%;
    top:0;
    right:0
}

.wrapper{
    // max-width:1366px;
    height:100%;
    margin:auto;
}

.textContainer{
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content: center;
    gap:10px;

    h2{
        font-size:20px;
        color:#fe0432;
        letter-spacing:9px;
        word-spacing:15px;
    }
    h1{
        font-size:88px;
    }
    img{
        width:50px;
        margin-left:50px;
    }

}
.buttons{
    button{
        padding:15px 20px;
        border:1px solid white;
        border-radius:10px;
        background-color:transparent;
        color:white;
        margin:20px;
        
        cursor: pointer;
        transition:all 0.8s ease;
        font-weight:300;

    }
    button:hover{
        background-color: white;
        color:#0c0c1d;
    }
   
}

.slidingImage{
    font-size:200px;
    position:absolute;
    bottom:-40px;
    color: #ffffff08;
    white-space:nowrap;
    word-spacing:30px;
    width: 100%;
    font-weight:bold;
    // z-index: -1;
}

