@import "../../app.scss";
.hero{
    height:calc(100vh - 100px);
    background:linear-gradient(180deg, #0c0c1d, #212152);
    position:relative;
    overflow:hidden;

    @include mobile{
        height: 100vh;
    }
  
}

.imageContainer img{
    position:absolute;
    height:100%;
    top:0;
    right:0;

  

   
}
.myimage{
    @include mobile{
        display: none;
       
    }
}

.wrapper{
    // max-width:1366px;
    height:100%;
    margin:auto;

    @include mobile{
        width: 100%;
    }
}

.textContainer{
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content: center;
    gap:10px;

    @include mobile{
        width: 100%;
        height: 60%;
        text-align: center;
        align-items: center;

    }
    h2{
        font-size:20px;
        color:#fe0432;
        letter-spacing:9px;
        word-spacing:15px;
    }
    h1{
        font-size:88px;
        @include mobile{
        
            font-size:70px;
    
        }
    }
    img{
        width:50px;
        margin-left:50px;

        @include mobile{
            margin-left:0px;
        }

        
    }

}

.slidingImage{
    font-size:200px;
    position:absolute;
    bottom:-40px;
    color: #ffffff08;
    white-space:nowrap;
    word-spacing:30px;
    width: 100%;
    font-weight:bold;
    // z-index: -1;

    @include mobile{
        bottom:50px
    }
}

