* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
    scroll-behavior: smooth;
  }

html{
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}
body{
    background-color: #0c0c1d;
    color:lightgrey;
    margin:0px 20px;
}

.button {
  color: white;
  padding: 0.6em 2em;
  background-color: transparent;
  border-radius: .3em;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: 1s ease;
  font-weight: 400;
  font-size: 17px;
  border: 1px solid;

  margin-right:23px;
  margin-top:30px;
  margin-bottom:10px;
  z-index: 1;
 }
 
 .button::before, .button::after {
  content: '';
  display: block;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  background-color: #ff002ffb;
  transition: 1.5s ease;
 }
 
 .button::before {
  top: -1em;
  left: -1em;
 }
 
 .button::after {
  left: calc(100% + 1em);
  top: calc(100% + 1em);
 }
 
 .button:hover::before, .button:hover::after {
  height: 410px;
  width: 410px;
 }

 .button:active {
  filter: brightness(0.5);
 }

section {
    height: 100vh;
    // width: 100vw;
    scroll-snap-align: center;
    overflow: hidden;
  }
  
  @mixin mobile {
    @media (max-width: 738px) {
      @content;
    }
  }
  @mixin tablet {
    @media (max-width: 1024px) {
      @content;
    }
  }
  @mixin desktop {
    @media (max-width: 1366px) {
      @content;
    }
  }
  